.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--charcoal);
  color: #fff;
  align-items: center;
}

.collapse.navbar-collapse {
  flex-grow: unset;
}

.container .profile-picture {
  background-image: url("/images/gizem.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#about-contact {
  display: flex;
}

.container {
  display: flex;
}

.container > h2 {
  flex-basis: 25%;
  text-align: right;
  font-size: 32px;
  border-right: 4px cornflowerblue;
}
