:root {
  --charcoal: #313e50ff;
  --independence: #3a435eff;
  --black-coral: rgba(69, 85, 97, 0.493);
  --black-coral-2: #5c6672ff;
  --rhythm: #6c6f7fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--charcoal);
  color: #fff;
  align-items: center;
}

.navbar-brand {
  font-size: 32px;
}

.collapse.navbar-collapse {
  flex-grow: unset;
}

.jumbotron .container {
  display: flex;
  justify-content: flex-end;
}

.jumbotron .container h1 {
  margin: 0;
  margin-right: 10px;
  height: 100px;
  line-height: 100px;
}

.container .profile-picture {
  background-image: url("/images/gizem.png");
  width: 100px;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

#about-contact {
  display: flex;
}

.container {
  display: flex;
}

.container > h2 {
  flex-basis: 25%;
  text-align: right;
  font-size: 32px;
  border-right: 4px solid var(--rhythm);
  padding: 20px;
}

.container > .page-section {
  flex-basis: 75%;
  padding: 20px;
}

#project-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "latest latest";
  grid-template-rows: 600px;
  grid-auto-rows: 400px;
  grid-gap: 20px;
}

#latest {
  grid-area: latest;
}

.list-group-item {
  text-align: center;
}

#aboutcontact {
  justify-content: flex-end;
}

#about-contact {
  display: flex;
}

#about-contact > #about {
  flex-basis: 50%;
}

#about-contact > section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

#about-contact > #contact {
  flex-basis: 50%;
  border-left: 4px solid var(--rhythm);
}

.contact-menu-list {
  display: flex;
  list-style: none;
  padding: 0;
}

.contact-menu-list > li {
  padding: 5px;
}
